<rewrite>
  <rules>
    <rule name="Imported Rule 1">
      <match url="^(.*)$" ignoreCase="false" />
      <conditions>
        <!--# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!--# ############################# START LISTS ############################-->
        <!--# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!--# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!--# Link rewrite-->
        <!--# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
        <add input="{REQUEST_FILENAME}\.php" matchType="IsFile" ignoreCase="false" />
      </conditions>
      <action type="Rewrite" url="{R:1}.php" />
    </rule>
    <rule name="Imported Rule 2">
      <match url="&quot;(^|/)\.&quot;" ignoreCase="false" />
      <conditions>
        <!--# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!--# Better website experience for IE users-->
        <!--# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!--# Force the latest IE version, in various cases when it may fall back to IE7 mode-->
        <!--#  github.com/rails/rails/commit/123eb25#commitcomment-118920-->
        <!--# Use ChromeFrame if it's installed for a better experience for the poor IE folk-->
        <!--# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!--# CORS-enabled images (@crossorigin)-->
        <!--# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!--# Send CORS headers if browsers request them; enabled by default for images.-->
        <!--# developer.mozilla.org/en/CORS_Enabled_Image-->
        <!--# blog.chromium.org/2011/07/using-cross-domain-images-in-webgl-and.html-->
        <!--# hacks.mozilla.org/2011/11/using-cors-to-load-webgl-textures-from-cross-domain-images/-->
        <!--# wiki.mozilla.org/Security/Reviews/crossoriginAttribute-->
        <!--# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!--# Webfont access-->
        <!--# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!--# Allow access from all domains for webfonts.-->
        <!--# Alternatively you could only whitelist your-->
        <!--# subdomains like "subdomain.example.com".-->
        <!--# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!--# Proper MIME type for all files-->
        <!--# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!--# JavaScript-->
        <!--#   Normalize to standard type (it's sniffed in IE anyways)-->
        <!--#   tools.ietf.org/html/rfc4329#section-7.2-->
        <!--# Audio-->
        <!--# Video-->
        <!--# SVG-->
        <!--#   Required for svg webfonts on iPad-->
        <!--#   twitter.com/FontSquirrel/status/14855840545-->
        <!--# Webfonts-->
        <!--# Assorted types-->
        <!--# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!--# Gzip compression-->
        <!--# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!--# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!--# Expires headers (for better cache control)-->
        <!--# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!--# These are pretty far-future expires headers.-->
        <!--# They assume you control versioning with filename-based cache busting-->
        <!--# Additionally, consider that outdated proxies may miscache-->
        <!--#   www.stevesouders.com/blog/2008/08/23/revving-filenames-dont-use-querystring/-->
        <!--# If you don't use filenames to version, lower the CSS and JS to something like-->
        <!--# "access plus 1 week".-->
        <!--# Perhaps better to whitelist expires rules? Perhaps.-->
        <!--# cache.appcache needs re-requests in FF 3.6 (thanks Remy ~Introducing HTML5)-->
        <!--# Your document html-->
        <!--# Data-->
        <!--# Feed-->
        <!--# Favicon (cannot be renamed)-->
        <!--# Media: images, video, audio-->
        <!--# HTC files  (css3pie)-->
        <!--# Webfonts-->
        <!--# CSS and JavaScript-->
        <!--# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!--# ETag removal-->
        <!--# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!--# FileETag None is not enough for every server.-->
        <!--# Since we're sending far-future expires, we don't need ETags for-->
        <!--# static content.-->
        <!--#   developer.yahoo.com/performance/rules.html#etags-->
        <!--# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!--# Prevent 404 errors for non-existing redirected folders-->
        <!--# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!--# without -MultiViews, Apache will give a 404 for a rewrite if a folder of the same name does not exist-->
        <!--#   e.g. /blog/hello : webmasterworld.com/apache/3808792.htm-->
        <!--# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!--# UTF-8 encoding-->
        <!--# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!--# Use UTF-8 encoding for anything served text/plain or text/html-->
        <!--# Force UTF-8 for a number of file formats-->
        <!--# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!--# A little more security-->
        <!--# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
        <!--# Deny access to config.php-->
        <!--# Deny access to .htaccess-->
        <!--# "-Indexes" will have Apache block users from browsing folders without a default document-->
        <!--# Usually you should leave this activated, because you shouldn't allow everybody to surf through-->
        <!--# every folder on your server (which includes rather private places like CMS system folders).-->
        <!--# Block access to "hidden" directories whose names begin with a period. This-->
        <!--# includes directories used by version control systems such as Subversion or Git.-->
        <add input="{SCRIPT_FILENAME}" matchType="IsDirectory" ignoreCase="false" />
        <add input="{SCRIPT_FILENAME}" matchType="IsFile" ignoreCase="false" />
      </conditions>
      <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
    </rule>
  </rules>
</rewrite>